{% extends 'app/index.html' %}

{% block header %}
<header id="header" role="banner">
    <div class="region-header-wrapper">
        <div class="header__region region region-header">
            <div id="block-block-16" class="block block-block logo-block first odd">


                <p><a href="http://www.calstatela.edu/" name="top" id="top"><img alt="Cal State LA Home" src="static/images/calstatela_wordmark.svg" style="width: 210px; height: 43px;">​</a></p>

            </div>
            <div id="block-menu-block-7" class="block block-menu-block top-navigation-block top-navigation-block-left even" aria-label="Header Menu Left" role="navigation">


                <div class="menu-block-wrapper menu-block-7 menu-name-menu-header-menu-left parent-mlid-0 menu-level-1">
                    <ul class="menu">
                        <li class="menu__item is-leaf first leaf menu-mlid-77501" style="padding-top: 10px;"><a href="http://www.calstatela.edu/students" class="menu__link">Students</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77506"><a href="http://www.calstatela.edu/faculty-staff" class="menu__link">Faculty &amp; Staff</a></li>
                        <li class="menu__item is-leaf last leaf menu-mlid-77511 no-border"><a href="http://www.calstatela.edu/alumni" class="menu__link">Alumni</a></li>
                    </ul>
                </div>

            </div>
            <div id="block-menu-block-8" class="block block-menu-block top-navigation-block top-navigation-block-right odd" aria-label="Header Menu Right" role="navigation">


                <div class="menu-block-wrapper menu-block-8 menu-name-menu-header-menu-right parent-mlid-0 menu-level-1">
                    <ul class="menu">
                        <li class="menu__item is-leaf first leaf menu-mlid-77471"><a href="http://my.calstatela.edu/" target="_blank" class="menu__link">MyCalStateLA</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77476"><a href="http://directory.calstatela.edu/" class="menu__link">Directory</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77481"><a href="http://www.calstatela.edu/library" class="menu__link">Library</a></li>
                        <!--<li class="menu__item is-leaf leaf menu-mlid-77486 quicklinks no-border"><span class="menu__link header-search-open-button nolink" aria-controls="kwall-slide-in-nav-menu" aria-haspopup="true" aria-label="Search and Quick Links Menu">Quick Links</span></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77491 search-link no-border no-underline"><span class="menu__link far fa-search header-search-open-button nolink" aria-controls="kwall-slide-in-nav-menu" aria-haspopup="true" aria-label="Search and Quick Links Menu">Search</span></li>-->
                        <li>Quick Links</li>
                        <li>Search</li>
                        <li class="menu__item is-leaf last leaf menu-mlid-77496 button-give-now no-border no-underline"><a href="https://campaign.calstatela.edu/give/" class="menu__link">GIVE NOW</a></li>
                    </ul>
                </div>

            </div>
            <div id="block-block-26" class="block block-block header-slide-menu-toggle-block even">


                <p><a aria-controls="kwall-slide-in-nav-menu" aria-haspopup="true" aria-label="Main Menu" class="fa fa-bars header-menu-open-button linkicon__item" href="http://www.calstatela.edu/#"><span class="linkicon__text">Menu</span></a></p>

            </div>
            <div id="block-kwall-slide-menu-menu" class="block block-kwall-slide-menu  slide-in-menu-block kwall-slide-in-nav-menu-block odd">


                <div class="kwall-slide-in-nav-menu closed slideMenu-processed" id="kwall-slide-in-nav-menu" tabindex="-1">
                    <div class="slide-menu-close"><a href="http://www.calstatela.edu/#" class="slide-menu-close-button" aria-controls="kwall-slide-in-nav-menu" tabindex="-1"><span class="element-invisible">Close Main Menu</span></a></div><div class="block block-menu-block main-menu first odd" aria-label="Main Mobile" role="navigation">
                        <div class="menu-attach-block block-search">
                            <form accept-charset="UTF-8" action="http://www.calstatela.edu/block/searchblox" method="get">
                                <div>
                                    <div class="container-inline">
                                        <h2 class="element-invisible">Search form</h2>

                                        <div class="form-item form-type-searchfield form-item-search-block-form"><label class="element-invisible" for="edit-search-block-form--2">Search </label> <input class="form-text form-search" maxlength="128" name="query" size="15" title="Enter the terms you wish to search for." type="search" value=""></div>

                                        <div class="form-actions form-wrapper"><input class="form-submit" name="op" type="submit" value="Search"></div>
                                        <input name="page" type="hidden" value="1"><input name="sort" type="hidden" value="relevance"><input name="sortdir" type="hidden" value="desc"><input name="pagesize" type="hidden" value="10"><input name="col" type="hidden" value="12">
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="menu-block-wrapper menu-block-12 menu-name-menu-main parent-mlid-0 menu-level-1">
                            <ul class="menu">
                                <li class="menu__item is-leaf first leaf menu-mlid-77736"><a href="http://www.calstatela.edu/about" class="menu__link" tabindex="-1">About</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77741"><a href="http://www.calstatela.edu/academics" class="menu__link" tabindex="-1">Academics</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77746"><a href="http://www.calstatela.edu/admissions-aid" class="menu__link" tabindex="-1">Admissions &amp; Aid</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77751"><a href="http://www.calstatela.edu/student-success" class="menu__link" tabindex="-1">Student Success</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77756"><a href="http://www.calstatela.edu/campus-life" class="menu__link" tabindex="-1">Campus Life</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77761"><a href="http://www.calstatela.edu/public-good" class="menu__link" tabindex="-1">Public Good</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77766"><a href="https://lagoldeneagles.com/" class="menu__link" tabindex="-1">Athletics</a></li>
                                <li class="menu__item is-leaf last leaf menu-mlid-77771"><a href="https://campaign.calstatela.edu/" class="menu__link" tabindex="-1">Campaign</a></li>
                                <li class="menu__item is-leaf last leaf menu-mlid-77496 button-give-now no-border no-underline"><a href="https://campaign.calstatela.edu/give/" class="menu__link">GIVE NOW</a></li>
                            </ul><ul class="menu appended-items">
                                <li class="menu__item is-leaf first leaf menu-mlid-77471"><a href="http://my.calstatela.edu/" target="_blank" class="menu__link">MyCalStateLA</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77476"><a href="http://directory.calstatela.edu/" class="menu__link">Directory</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77481"><a href="http://www.calstatela.edu/library" class="menu__link">Library</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77486 quicklinks no-border"><span class="menu__link header-search-open-button nolink" aria-controls="kwall-slide-in-nav-menu" aria-haspopup="true" aria-label="Search and Quick Links Menu">Quick Links</span></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77491 search-link no-border no-underline"><span class="menu__link far fa-search header-search-open-button nolink" aria-controls="kwall-slide-in-nav-menu" aria-haspopup="true" aria-label="Search and Quick Links Menu">Search</span></li>

                                <li class="menu__item is-leaf first leaf menu-mlid-77546"><a href="http://www.calstatela.edu/academicresources/academic-calendar" class="menu__link">Academic Calendar</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77551"><a href="http://www.calstatela.edu/univ/maps" title="Store locator map using Google Store Location Library" class="menu__link">Campus Map</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77556"><a href="http://www.calstatela.edu/president" class="menu__link">Office of the President</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-78211"><a href="http://www.calstatela.edu/brand" class="menu__link">Cal State LA Brand</a></li>
                                <li class="menu__item is-leaf last leaf menu-mlid-79146"><a href="http://www.calstatela.edu/parking" class="menu__link">Parking and Transportation</a></li>
                                <li class="menu__item is-leaf first leaf menu-mlid-77501" style="padding-top: 10px;"><a href="http://www.calstatela.edu/students" class="menu__link">Students</a></li>
                                <li class="menu__item is-leaf leaf menu-mlid-77506"><a href="http://www.calstatela.edu/faculty-staff" class="menu__link">Faculty &amp; Staff</a></li>
                                <li class="menu__item is-leaf last leaf menu-mlid-77511 no-border"><a href="http://www.calstatela.edu/alumni" class="menu__link">Alumni</a></li>
                            </ul>
                        </div>

                    </div>
                </div><a href="http://www.calstatela.edu/#" class="kwall-slide-menu-overlay" aria-controls="kwall-slide-in-nav-menu"><span class="element-invisible">Close Main Menu</span></a>
            </div>
            <div id="block-kwall-slide-menu-search" class="block block-kwall-slide-menu Quick links menu last even">


                <div class="kwall-slide-in-nav-search-menu closed" id="kwall-slide-in-nav-search-menu">
                    <div class="slide-menu-close"><a href="http://www.calstatela.edu/#" class="slide-menu-close-button" aria-controls="kwall-slide-in-nav-search-menu"><span class="element-invisible">Close Search and Quick Links Menu</span></a></div><div id="block-menu-block-11" class="block block-menu-block even" aria-label="Quick Links New" role="navigation">


                        <div class="menu-block-wrapper menu-block-11 menu-name-menu-quick-links-new parent-mlid-0 menu-level-1">
                            <ul class="menu">
                                <li class="menu__item is-leaf first leaf menu-mlid-77526 menu-attach-block block-search">
                                    <div class="menu-attach-block-wrapper orientation-horizontal">
                                        <div id="block-nodeblock-411951" class="block block-nodeblock first odd">

                                            <h2 class="block__title block-title">Quicklinks Search Form</h2>

                                            <div id="node-411951" class="node node-block view-mode-full clearfix">



                                                <div class="content">
                                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                        <div class="field-items" id="md275">
                                                            <div class="field-item even">
                                                                <form accept-charset="UTF-8" action="http://www.calstatela.edu/block/searchblox" id="search-block-form" method="get">
                                                                    <div>
                                                                        <div class="container-inline">
                                                                            <h2 class="element-invisible">Search form</h2>

                                                                            <div class="form-item form-type-searchfield form-item-search-block-form"><label class="element-invisible" for="edit-search-block-form--2">Search </label> <input class="form-text form-search" id="edit-search-block-form--2" maxlength="128" name="query" size="15" title="Enter the terms you wish to search for." type="search" value=""></div>

                                                                            <div class="form-actions form-wrapper" id="edit-actions"><input class="form-submit" id="edit-submit--2" name="op" type="submit" value="Search"></div>
                                                                            <input name="page" type="hidden" value="1"><input name="sort" type="hidden" value="relevance"><input name="sortdir" type="hidden" value="desc"><input name="pagesize" type="hidden" value="10"><input name="col" type="hidden" value="12">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="menu__item is-expanded expanded menu-mlid-77536">
                                    <span class="menu__link nolink">Quick Links</span><ul class="menu">
                                        <li class="menu__item is-leaf first leaf menu-mlid-77546"><a href="http://www.calstatela.edu/academicresources/academic-calendar" class="menu__link">Academic Calendar</a></li>
                                        <li class="menu__item is-leaf leaf menu-mlid-77551"><a href="http://www.calstatela.edu/univ/maps" title="Store locator map using Google Store Location Library" class="menu__link">Campus Map</a></li>
                                        <li class="menu__item is-leaf leaf menu-mlid-77556"><a href="http://www.calstatela.edu/president" class="menu__link">Office of the President</a></li>
                                        <li class="menu__item is-leaf leaf menu-mlid-78211"><a href="http://www.calstatela.edu/brand" class="menu__link">Cal State LA Brand</a></li>
                                        <li class="menu__item is-leaf last leaf menu-mlid-79146"><a href="http://www.calstatela.edu/parking" class="menu__link">Parking and Transportation</a></li>
                                    </ul>
                                </li>
                                <li class="menu__item is-leaf last leaf menu-mlid-77541 menu-attach-block">
                                    <div class="menu-attach-block-wrapper orientation-horizontal">
                                        <div id="block-block-31--3" class="block block-block social-links-block first odd">


                                            <ul class="social-media-links-footer">
                                                <li><a class="fab fa-facebook-f" href="https://www.facebook.com/CalStateLA" target="_blank">Cal State LA on Facebook</a></li>
                                                <li><a class="fab fa-twitter" href="https://twitter.com/calstatela" target="_blank">Cal State LA on Twitter</a></li>
                                                <li><a class="fab fa-instagram" href="https://www.instagram.com/calstatela/" target="_blank">Cal State LA on Instagram</a></li>
                                                <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/school/california-state-university-los-angeles" target="_blank">Cal State LA on LinkedIn</a></li>
                                                <li><a class="fab fa-youtube" href="https://www.youtube.com/user/csulosangeles" target="_blank">Cal State LA on YouTube</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div><a href="http://www.calstatela.edu/#" class="kwall-slide-menu-overlay" aria-controls="kwall-slide-in-nav-search-menu"><span class="element-invisible">Close Search and Quick Links Menu</span></a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="navigation">
        <div class="region region-navigation">
            <div id="block-menu-block-12--2" class="block block-menu-block main-menu even" aria-label="Main" role="navigation">


                <div class="menu-block-wrapper menu-block-12 menu-name-menu-main parent-mlid-0 menu-level-1">
                    <ul class="menu">
                        <li class="menu__item is-leaf first leaf menu-mlid-77736"><a href="http://www.calstatela.edu/about" class="menu__link">About</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77741"><a href="http://www.calstatela.edu/academics" class="menu__link">Academics</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77746"><a href="http://www.calstatela.edu/admissions-aid" class="menu__link">Admissions &amp; Aid</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77751"><a href="http://www.calstatela.edu/student-success" class="menu__link">Student Success</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77756"><a href="http://www.calstatela.edu/campus-life" class="menu__link">Campus Life</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77761"><a href="http://www.calstatela.edu/public-good" class="menu__link">Public Good</a></li>
                        <li class="menu__item is-leaf leaf menu-mlid-77766"><a href="https://lagoldeneagles.com/" class="menu__link">Athletics</a></li>
                        <li class="menu__item is-leaf last leaf menu-mlid-77771"><a href="https://campaign.calstatela.edu/" class="menu__link">Campaign</a></li>
                    </ul>
                </div>

            </div>
            <div id="block-block-21" class="block block-block logo-block last odd">


                <p><a href="http://www.calstatela.edu/"><img alt="Cal State LA Home" src="static/images/calstatela_badge.svg" style="width: 66px; margin-top: -5px;"></a></p>

            </div>
        </div>
    </div><!-- /#navigation -->
</header>
{% endblock header %}


{% block footer %}
<div id="bottom" role="contentinfo">
    <div class="region region-bottom">
        <div id="block-block-6" class="block block-block footer-logo even">


            <p><a href="https://campaign.calstatela.edu"><img alt="The Campaign for Cal State LA" src="static/images/wearela_logo.svg" style="width: 251px; height: 85px; margin-bottom: 20px;"></a></p>

        </div>
        <div id="block-menu-block-10" class="block block-menu-block footer-menu-block odd" aria-label="Footer menu" role="navigation">


            <div class="menu-block-wrapper menu-block-10 menu-name-menu-footer-menu parent-mlid-0 menu-level-1">
                <ul class="menu">
                    <li class="menu__item is-expanded first expanded menu-mlid-77366">
                        <span class="menu__link nolink">Connect</span><ul class="menu">
                            <li class="menu__item is-leaf first leaf menu-mlid-77381"><a href="http://www.calstatela.edu/contact" class="menu__link">Contact Us</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77386"><a href="http://www.calstatela.edu/univ/ppa/journalist/index.php" class="menu__link">Media</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77391"><a href="http://www.calstatela.edu/univ/ppa/publicat/socialMedia.php" class="menu__link">Social Media Hub</a></li>
                            <li class="menu__item is-leaf last leaf menu-mlid-77396"><a href="http://www.calstatela.edu/giving/waystogive" class="menu__link">Ways to Give</a></li>
                        </ul>
                    </li>
                    <li class="menu__item is-expanded expanded menu-mlid-77371">
                        <span class="menu__link nolink">Services</span><ul class="menu">
                            <li class="menu__item is-leaf first leaf menu-mlid-77436"><a href="http://www.calstatela.edu/univ/maps" title="Store locator map using Google Store Location Library" class="menu__link">Campus Map</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77406"><a href="http://www.calstatela.edu/police" class="menu__link">Campus Safety</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77426"><a href="http://www.calstatela.edu/careteam" class="menu__link">CARE Team</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77401"><a href="http://www.calstatela.edu/dining-on-campus/hours-services" class="menu__link">Dining on Campus</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77431"><a href="http://www.calstatela.edu/hrm/employment-opportunities" class="menu__link">Jobs</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77416"><a href="http://www.calstatela.edu/mindmatters" class="menu__link">Mind Matters</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77421"><a href="http://www.calstatela.edu/parking" class="menu__link">Parking &amp; Transportation</a></li>
                            <li class="menu__item is-leaf last leaf menu-mlid-77441"><a href="http://www.calstatela.edu/studenthealthcenter" class="menu__link">Student Health Center</a></li>
                        </ul>
                    </li>
                    <li class="menu__item is-expanded last expanded menu-mlid-77376">
                        <span class="menu__link nolink">Administrative</span><ul class="menu">
                            <li class="menu__item is-leaf first leaf menu-mlid-77411"><a href="http://www.calstatela.edu/accessibility/ati/accessibility-statement" class="menu__link">Accessibility</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77451"><a href="http://www.calstatela.edu/wscuc" class="menu__link">Accreditation</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77966"><a href="http://www.calstatela.edu/sites/default/files/groups/Department%20of%20Public%20Safety/2019_annual_security_report.pdf" target="_blank" class="menu__link">Annual Security Report</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77971"><a href="http://www.calstatela.edu/sites/default/files/groups/Department%20of%20Public%20Safety/campus_safety_report/2019_campus_safety_plan.pdf" target="_blank" class="menu__link">Campus Safety Plan</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77461"><a href="https://www2.calstate.edu" class="menu__link">CSU System</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77466"><a href="http://www.calstatela.edu/plugins" class="menu__link">File Viewers</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-77446"><a href="http://www.calstatela.edu/privacy" class="menu__link">Privacy</a></li>
                            <li class="menu__item is-leaf last leaf menu-mlid-77456"><a href="http://www.calstatela.edu/hrm/oedi-title-ix" class="menu__link">Title IX</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div id="block-block-11" class="block block-block footer-logo-bottom even">


            <div class="logo"><a aria-label="Cal State LA Home" href="http://www.calstatela.edu/"><img alt="Cal State LA Home" src="static/images/calstatela_horizontal_hero.svg" style="width: 456px; height: 88px; margin-left: -14px;"></a></div>

        </div>
        <div id="block-block-31--2" class="block block-block social-links-block last odd">


            <!--<ul class="social-media-links-footer">
                <li><a class="fab fa-facebook-f" href="https://www.facebook.com/CalStateLA" target="_blank">Cal State LA on Facebook</a></li>
                <li><a class="fab fa-twitter" href="https://twitter.com/calstatela" target="_blank">Cal State LA on Twitter</a></li>
                <li><a class="fab fa-instagram" href="https://www.instagram.com/calstatela/" target="_blank">Cal State LA on Instagram</a></li>
                <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/school/california-state-university-los-angeles" target="_blank">Cal State LA on LinkedIn</a></li>
                <li><a class="fab fa-youtube" href="https://www.youtube.com/user/csulosangeles" target="_blank">Cal State LA on YouTube</a></li>
            </ul>-->
        </div>
    </div>
    <div class="region region-bottom2">
        <div id="block-nodeblock-13" class="block block-nodeblock copyright-block first last odd">


            <div id="node-13" class="node node-block view-mode-full clearfix">



                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items" id="md82"><div class="field-item even"><p>5151 State University Drive, Los Angeles, CA 90032 (323) 343-3000<br><span class="small-text">© 2019 Trustees of the California State University</span></p></div></div></div>
                </div>



            </div>

        </div>
    </div>
    <!-- For accessibility fixes -->
    <!--<p id="back-top" style="display: block;"><a href="#top"><span id="button"></span><span id="link">Back to top</span></a></p>-->
</div>

{% endblock footer %}