{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no" />
    <title>Pineapple Chatbot</title>
    <!--import text fonts from google APIs-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i" />
    <!--import bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--import stylesheets-->
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_1.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_2.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_3.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_4.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_5.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_6.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_7.css' %}">
    <link rel="stylesheet" href="{% static '/css/csula_8.css' %}">

</head>
<body>

    <!--renders template for the header from base.html-->
    {% block header %}
    {% endblock header %}

    <!--container holding a row of two columns-->
    <div class="container-fluid">

        <!--row of two columns-->
        <div class="d-flex align-items-stretch row">

            <!--column one, contains the content on the left hand side-->
            <div class="instructions text-center col">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/f/f7/CSU%2C_Los_Angeles_seal.svg" alt="Cal state la logo" />
                <h2>Welcome to CSULA's Pineapple Chatbot</h2>
                <p class="text-left">Lorem ipsum lacinia neque auctor tempor imperdiet fames sem viverra curae porttitor, etiam class aliquam proin sollicitudin metus nam at aenean feugiat aliquam, integer turpis congue lectus venenatis aenean senectus curabitur sit sem.</p>
                <ui class="text-left">
                    <li class="bullets">
                        Senectus gravida ante nisi iaculis quam varius posuere dapibus ultricies, venenatis consequat ipsum elementum ad leo sapien ornare vitae, erat libero at a quis pretium nunc curabitur
                    </li>
                    <li class="bullets">
                        Massa himenaeos malesuada hac viverra turpis consequat vulputate dictumst taciti fusce vehicula interdum tempus hac pretium sociosqu porttitor tortor turpis.
                    </li>
                    <li class="bullets">
                        Magna sapien dictum class lacus nam neque porttitor turpis, erat interdum praesent mi at varius placerat habitasse senectus sit sollicitudin ut ligula morbi ut condimentum sed class odio.
                    </li>
                    <li class="bullets">
                        Aliquam iaculis vulputate vitae morbi eu velit condimentum, inceptos consectetur interdum eros nulla metus torquent congue
                    </li>
                </ui>
            </div>

            <!--column two, contains the content on the right hand side-->
            <div class="d-flex flex-column border-left border-right border-dark col">

                <!--box that holds the chatbot's and user's messages-->
                <div id="chatbox" class="flex-grow-1 overflow-auto chatbox"></div>

                <!--container which houses the speech-to-text button, input field, and a enter button-->
                <div class="d-flex flex-row control-container">

                    <!--form element with a button-->
                    <form class="d-flex flex-row margin-left margin-right" method="POST" id="listen">

                        <!--Django form token-->
                        {% csrf_token %}

                        <!--button that starts listening-->
                        <button id="listen_btn" type="submit" class="csula-yellow btn btn-primary">
                            <img class="voice" alt="Speech to text button" src="static/images/speech_to_text.png">
                        </button>
                    </form>

                    <!--form element with a text input field and a submit button-->
                    <form class="d-flex flex-row flex-grow-1" method="POST" id="chatbox_form">

                        <!--Django form token-->
                        {% csrf_token %}

                        <!--input field that takes the user's message-->
                        <input type="text" class="form-control margin-right flex-grow-1" id="user_message" name="user_message" placeholder="Type your question here..." />

                        <!--submit button that submits the form-->
                        <button type="submit" class="csula-yellow btn btn-primary">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!--renders template for the footer from base.html-->
    {% block footer %}
    {% endblock footer %}
    
    <!--import jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!--import popper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!--import bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--script that handles the user's message and it's response-->
    <script type="text/javascript">

        //function to scroll the chatbox to the bottom
        function updateScroll() {

            //get the element with ID='chatbox'
            let element = document.getElementById("chatbox");

            //update scroll to the bottom
            element.scrollTop = element.scrollHeight;
        }

        function listenStyle(action) {
            if (action === "ON") {
                document.getElementById("listen_btn").style.backgroundColor = "red";

                document.getElementById("listen_btn").style.borderColor = "red";
            }
            if (action === "OFF") {
                document.getElementById("listen_btn").style.backgroundColor = "#FFCE00";

                document.getElementById("listen_btn").style.borderColor = "#FFCE00";
            }
        }
        //insert starting message from chatbot, it's not a call to Lex API.
        document.getElementById('chatbox').innerHTML +=
            `
                    <div class="chatbot-msg-container">
                        <img class="shadow border border-dark chatbot-icon" src="{% static '/images/pineapple_chatbot_logo.png' %}">
                        <div class="shadow chatbot-message">
                            Hello, how can I help you?
                        </div>
                        <time class="font-weight-light timestamp">
                            {% now "f A" %}
                        </time>
                    </div>
                `;

        //update scroll position
        updateScroll();

        //on submit from element with id #chatbot_form
        $(document).on('submit', '#chatbox_form', function (e) {

            //first, prevent the page from reloading
            e.preventDefault();

            //grab the text inside the input element with ID='user_message'
            let user_message = $('#user_message').val();

            //insert the text submitted by the user into the chatbox
            document.getElementById('chatbox').innerHTML +=
                `
                        <div class="user-msg-container">
                            <time class="font-weight-light timestamp">
                                {% now "f A" %}
                            </time>
                            <div class="shadow user-message">
                                ${user_message}
                            </div>
                            <img class="shadow user-icon" src="{% static '/images/user_icon.png' %}">
                        </div>
                    `;

            document.getElementById('user_message').value = '';

            //update scroll position
            updateScroll();

            //ajax POST call
            $.ajax({
                //http method
                type: 'POST',
                //url data will be sent to
                url: '/message',
                //data to be sent
                data: {
                    user_message: user_message,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                //if the data was successfully sent...
                success: function (data) {
                    console.log(data);

                    //insert the response from either Lex or other modules
                    document.getElementById('chatbox').innerHTML +=
                        `
                                <div class="chatbot-msg-container">
                                    <img class="shadow border border-dark chatbot-icon" src="{% static '/images/pineapple_chatbot_logo.png' %}">
                                    <div class="shadow chatbot-message">
                                        ${data}
                                    </div>
                                    <time class="font-weight-light timestamp">
                                        {% now "f A" %}
                                    </time>
                                </div>
                            `;

                    //update scroll position
                    updateScroll();
                }
            });
        });

        $(document).on('submit', '#listen', function (e) {
            e.preventDefault();
            listenStyle("ON");
            $.ajax({
                type: 'POST',
                url: '/listen',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (transcription) {
                    console.log(transcription);
                    listenStyle("OFF");
                    document.getElementById('chatbox').innerHTML +=
                    `
                        <div class="user-msg-container">
                            <time class="font-weight-light timestamp">
                                {% now "f A" %}
                            </time>
                            <div class="shadow user-message">
                                ${transcription}
                            </div>
                            <img class="shadow user-icon" src="{% static '/images/user_icon.png' %}">
                        </div>
                    `;
                    
                    $.ajax({
                        type: 'POST',
                        url: '/message',
                        data: {
                            user_message: transcription,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (data) {
                            document.getElementById('chatbox').innerHTML +=
                                `
                                <div class="chatbot-msg-container">
                                    <img class="shadow border border-dark chatbot-icon" src="{% static '/images/pineapple_chatbot_logo.png' %}">
                                    <div class="shadow chatbot-message">
                                        ${data}
                                    </div>
                                    <time class="font-weight-light timestamp">
                                        {% now "f A" %}
                                    </time>
                                </div>
                            `;
                        }
                    });

                }
            })
        });
    </script>
</body>
</html>