{% extends 'chatbot/base.html' %}

{% block content %}
<ul className="message-list">
    <li>
        <div className="bot-id">pineapple</div>
        <div className="bot-message">Hello! What can I help you with?</div>
    </li>
    <li key={message.id}>
        <div className="bot-id">{message.senderId}</div>
        <div className="bot-message">{message.text.slice(1, message.text.indexOf(':') + 1)}</div>
        <div key={index}>
            <br />
            <a className="links" href={e.slice(1,-1)} target="_blank">{e.slice(1,-1)}</a>
        </div>
    </li>
    <li key={message.id}>
        <div className="bot-id">{message.senderId}</div>
        <div className="bot-message">{message.text.slice(1, message.text.indexOf("^"))}</div>
        <div>
            <br />
            <a className="links" href={message.text.slice(message.text.indexOf("^")+1)} target="_blank">{message.text.slice(message.text.indexOf("^")+1)}</a>
        </div>
    </li>
    <li key={message.id}>
        <div className="bot-id">{message.senderId}</div>
        <div className="bot-message">{message.text}</div>
    </li>
    <li key={message.id} className="user-message">
        <div>{message.senderId}</div>
        <div align="right"><p className="message-text">{message.text}</p></div>
    </li>
    <div style='float:"left", clear: "both"'
         ref={(el) =>
        { this.messagesEnd = el; }}>
    </div>
</ul>
<form onSubmit={this.handleSubmit} className="send-message-form">
    <input onChange={this.handleChange}
           value={this.state.message}
           placeholder="Type your message and hit ENTER"
           type="text" />
</form>


{% endblock %}